{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h1 class="title">
        <font size="+5"> Welcome, {{ name }}! </font>
    </h1>

    {% with messages = get_flashed_messages() %}
	    {% if messages %}
    		<div class="notification is-danger">
        		{{ messages[0] }}
    		</div>
	    {% endif %}
    {% endwith %}

    {% if admin %}
        <h2 class="subtitle">
            Hey, you're an admin!
        </h2>

        <form method="POST" action="/addadmin">
            <div class="field">
                <div class="control">
                    Want to make some one else admin? Enter their email below!
                </div>
                <div class="control">
                    <input class="input" type="new_admin" name="new_admin" placeholder="New Admin Email" autofocus="">
                    <button class="button"> Add </button>
                </div>
            </div>
        </form>
    {% endif %}

    <div class="field">
        <div class="field">
            My info:
        </div>

        <div class="field">
            Sex: {{ user['sex'].title() }}
        </div>

        <div class="field">
            Height: {{ user['height'] }} ft.
        </div>

        <div class="field">
            DOB: {{ user['DOB'] }}
        </div>
    </div>

    <form method="POST" action="/profile">
        <div class="field">
            <div class="control">
                Didn't workout today? That's okay, keep track of your weight here!
                <input class="input" type="weight" name="weight" placeholder="Today's Weight" autofocus="">
                <button class="button"> Track </button>
            </div>
        </div>
    </form>

    {% if history %}
        {% for day in history %}
            <div class="field">
                <div class=control">
                    <font size="+3"> Date: {{ day['date'] }} </font>
                </div>

                {% if day['weight'] %}
                    <div class="control">
                        Weight: {{ day['weight'] }}
                    </div>
                {% endif %}

                {% if day['workout'] %}
                    <div class="control">
                        Workout: {{ day['workout'].title() }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}